doctype html
html
  head
    link(href='https://kaizen-ui.s3.amazonaws.com/heads/master/styles/kaizen.css', rel='stylesheet')
    link(href='styles/application.css', rel='stylesheet')
body
  .c-container
    It works
