.tab-content {
  padding-top: 2em;
}

.has-diff {
  background-color: #ff9;
}

.btn-invert {
  background-color: #000;
  color: #fff;
}

.btn-invert:hover,
.btn-invert:focus,
.btn-invert:active  {
  color: #ccc;
}

#language-switch {
  margin-right: 0;
}

.list-group-item a {
  cursor: pointer;
  display: block;
}

.opt-hold *[translate] {
  position: relative;
}

.opt-hold *[translate]:before {
  position: absolute;
  top: 0;
  left: -1em;
  content: '\00b6';
  color: #eab5f9;
  font-size: 12px;
  margin-right: -20px;
  width: 20px;
  display: inline-block;
}
